p, h1, h3, td {
				font-family: Arial;
				color: white;
			}
			#mytab {
				border-collapse: collapse; 
				border: 1px grey ridge;
			}
			#mylink:hover {
				color: red;
			}
			body {
				background-image: url("bgrnd.jpg");
				background-size: cover;
			}
			#myli {
				margin-bottom: 10px;
			}